body{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/watercolor.png);
    background-repeat: repeat;
    background-attachment: local;
}

.item1{
    background-color: aqua;
}

.item2{
    background-image: url(https://www.toptal.com/designers/subtlepatterns/uploads/tactile_noise.png);
    background-repeat: no-repeat;
    background-attachment: local;
    height: 500px;
    overflow: scroll;
}

.kotak1{
    background-color: red;
    width: 300px;
    height: 300px;
    opacity: 0.5;
}